<!DOCTYPE html>

<html>
    <head>
        <title>Hello...</title>
    </head>
           <body>

               <h1>The Time and Date Are: {{ time }}.</h1>

               <img src="/static/images/openFile.jpg" width="350" height="350">
           <hr>
               <a href="http://www.Lafayette-Parish.org">Click It or Ticket!</a>
           <hr>

               <h2>Tables!</h2>
               <ul>
                   <li><a href="#Wrath">Wrath</a></li>
                   <li><a href="#Love">Love</a></li>
           <hr>
                             

               <h2 id="Wrath">Wrath</h2>
               <p>
                   Hello...today was a "hell" of a day. It was a terrible day of time and effort.
                   I had to do things and these things are something that was not too
                   liked by myself or others. Boo!
               </p>
           <hr>
               <h2 id="Love">Love</h2>
               <p>
                   Hello...today was a lovely day, i.e. full of charm and grace. I hope my efforts
                   served well. All of what I do, if guided by you, is for the betterment of 
                   society. I promise.
               </p> 
               <hr>

           <form>

               <div>
                   <input name="name" type="text" placeholder="Name">
               </div>




           </body>         



</html>
