<!DOCTYPE html>

<head>

    <title>Geaux Ragin' Cajuns! The TIME and DATE are: {{ time }}.</title>
    <style>
        h1 {
            color: red;
            text-align: left;

        }
     </style>

</head>
<body>
    <style>
        h2 {
            color: black;
            text-align: left;
        }
    </style>
    <h1>Mom...the Cajuns are back!</h1>
    <h1>The Cajuns were never gone!</h1>
    <p>Enjoy life, i.e. as it may be gone when you arrive.</p>

    <h2>Geaux Cajuns!</h2>
    <p>I knew they never left!</p>
</body>

</html>
